#root{
    position: relative;
}
.join-wrap{
    width: 1000px;
    padding: 50px 0;
    margin: 0 auto;
}
.join-wrap h2{
    text-align: center;
}
.join-wrap .join-input{
    width: 500px;
    border: 1px solid #ccc;
    margin: 20px auto 0;
    padding: 60px 50px;
}
.join-wrap .join-input p{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}
.join-wrap .join-input input[type="text"],
.join-wrap .join-input input[type="password"],
.join-wrap .join-input button{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: 0;
}
.join-wrap .join-input input[type="text"],
.join-wrap .join-input input[type="password"]{
    margin: 3px 0;
    font-size: 16px;
}
.join-wrap .join-input input[type="checkbox"],
.join-wrap .join-input input[type="password"]{
    cursor: pointer;
}
.join-wrap .join-input label,
.join-wrap .join-input .user-gender{
    cursor: pointer;
    margin-left: 5px;
    color: #000;
    font-weight: 700;
    margin-top: 13px;
    display: inline-block;
}
.join-wrap .join-input button{
    color: #fff;
    font-size: 18px;
    line-height: 39px;
    font-weight: 600;
    margin-top: 5px;
    background-color: #d34e3b;
    border-radius: 0;
}

.join-wrap .modalOverlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 80%);
}
.join-wrap .modalOverlay .modalWrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.join-wrap input[type="radio"]{
    margin-left: 10px;
}
.join-wrap .modalOverlay .modalWrap .closeBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    background-color: rgb(0, 0, 0);
    padding: 6px 15px;
    float: right;
}