.login-container{
    width: 1000px;
    padding: 50px 0;
    margin: 0 auto;
}
.login-container h2{
    text-align: center;
}
.login-container .login-input{
    width: 400px;
    border: 1px solid #ccc;
    margin: 20px auto 0;
    padding: 40px 50px;
}
.login-container .login-input p{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.login-container .login-input input[type="text"],
.login-container .login-input button{
    width: 100%;
    height: 45px;
    padding: 0 10px;
    outline: 0;
}
.login-container .login-input input[type="text"]{
    margin: 3px 0;
    font-size: 16px;
}
.login-container .login-input input[type="checkbox"]{
    cursor: pointer;
}
.login-container .login-input label{
    cursor: pointer;
    margin-left: 5px;
}
.login-container .login-input button{
    color: #fff;
    font-size: 18px;
    line-height: 39px;
    font-weight: 600;
    margin-top: 15px;
    background-color: #d34e3b;
    border-radius: 0;
}