.main-content{
    width: 1000px;
    margin: 50px auto 100px;

}
.main-content .category .btns{
    color: #000;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    border-top: 2px solid #515151;
    font-size: 14px;
    padding: 0 10px;
    margin-top: 5px;
}
.main-content .category .btns button{
    background-color: transparent;
    outline: 0;
    border: 0;
    padding: 0 0 0 15px;
}
.main-content .category .btns button:first-child{
    padding-left: 0;
}
.main-content .category .btns button:hover{
    border: 0;
}
.main-content .category .btns select{
    cursor: pointer;
}
.main-content .category .btns label{
    padding: 0 5px 0 0;
}
.main-content .category .btns #mealtype{
    margin-right: 15px;
}
.main-content .contents{
    margin: 55px auto 0;
}
.main-content .contents ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}
.main-content .contents ul li{
    width: 32%;
}

.main-content .contents>ul>li{
    margin-bottom: 30px;
}

.main-content .contents ul li img{
    display: block;
    width: 100%;
}

.main-content .contents ul li .product-name{
    font-weight: 600;
    font-size: 19px;
}
.main-content .contents ul li .product-ingre{
    height: 40px;
    overflow: hidden;
    font-size: 12px;
    color: #1e1e1e;
}
.main-content .contents ul li .product-rating,
.main-content .contents ul li .product-reviewCount{
    font-size: 18px;
    font-weight: 600;
}