header a:hover{
    color: #ee4143;
}
header .header-wrap{
    width: 1000px;
    margin: 0 auto;
}
header .header-wrap button{
    font-size: 13px;
    padding: 0 10px;
    font-weight: 700;
}
header .header-wrap button:hover{
    color: #ee4143;
}
header .header-wrap span{
    font-size: 15px;
    padding: 0px 5px;
    font-weight: 700;
}
header .a-link{
    text-align: right;
    margin-bottom: 10px;
}
header .a-link a{
    font-size: 13px;
    padding: 0 10px;
}
header .logo-wrap{
    text-align: center;
}
header nav{
    padding: 15px 0;
}
header nav ul{
    display: flex;
}
header nav ul li{
    flex: 1;
    text-align: center;
}
header nav ul li a{
    font-weight: 600;
    border-left: 1px solid #ccc;
    width: 100%;
    display: inline-block;
    height: 20px;
}
header nav ul li:first-child a{
    border-left: 0;
}

header .header-border{
    border-bottom: 1px solid #000;
}