.detail-wrap{
    width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}
.detail-wrap .product{
    overflow: hidden;
}
.detail-wrap .product .product-left,
.detail-wrap .product .product-right{
    float: left;
}
.detail-wrap .product .product-left{
    margin-right: 50px;
    width: 400px;
}
.detail-wrap .product .product-left img{
    display: block;
    width: 100%;
}
.detail-wrap .product .product-left p{
    margin-top: 20px;
}
.detail-wrap .product .product-right{
    width: 550px;
}
.detail-wrap .product .product-right p{
    margin: 10px 0;
}
.detail-wrap .product .product-right button{
    border: 1px solid #000;
    padding: 10px 18px 12px;
    margin-top: 10px;
}