footer{
    margin-top: 60px;
    border-top: 4px solid #d34e3b;
}
footer .footer-wrap{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0px 50px;
}
footer .footer-wrap .ft-left{
    float: left;
    width: 27%;
    border-right: 1px solid #ccc;
}
footer .footer-wrap .ft-left .txt1{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 10px 0 20px;
}
footer .footer-wrap .ft-left .txt2{
    font-size: 12px;
    color: #434343;
}
footer .footer-wrap .ft-right{
    float: left;
    padding-left: 47px;
}
footer .footer-wrap .ft-right .txt1{
    font-size: 12px;
    color: #434343;
    overflow: hidden;
}
footer .footer-wrap .ft-right .txt1 img{
    float: left;
}
footer .footer-wrap .ft-right .txt1 span{
    float: left;
}
footer .footer-wrap .ft-right .txt2{
    margin-top: 10px;
    font-size: 13px;
    color: #434343;
}