*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
}
body{
    place-items: unset;
}
#root{
    width: 100%;
}
a{
    color: #000;
}
a:hover{
    color: #000;
}
button{
    border: 0;
    background-color: transparent;
    outline: 0;
}
button:hover{
    border: 0;
    outline: 0;
}
button:focus{
    border: 0;
    outline: 0;
}