.main-content{
    width: 1000px;
    margin: 50px auto 100px;

}
.main-content .contents ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}
.main-content .contents ul li{
    width: 32%;
}

.main-content .contents>ul>li{
    margin-bottom: 30px;
}

.main-content .contents ul li img{
    display: block;
    width: 100%;
}

.main-content .contents ul li .product-name{
    font-weight: 600;
    font-size: 19px;
}
.main-content .contents ul li .product-ingre{
    height: 40px;
    overflow: hidden;
    font-size: 12px;
    color: #1e1e1e;
}

.main-content .contents ul li .product-delete button{
    padding: 6px 0px;
}